[bltouch]
sensor_pin: ^ar19 
control_pin: ar11 
x_offset:29
y_offset:-35
speed:5
samples:5
samples_result:average
pin_move_time: 0.680
# set_output_mode: 5V
# probe_with_touch_mode: true
# stow_on_each_sample: false

[safe_z_home]
home_xy_position: 82,143
speed: 50
z_hop: 20               
z_hop_speed: 10

[bed_mesh]
speed: 800
mesh_min: 29,5
mesh_max: 215,185
probe_count: 8,8
mesh_pps: 2,2
algorithm: bicubic
bicubic_tension: 0.2
move_check_distance: 3.0
split_delta_z: .010
fade_start: 1.0 
fade_end: 5.0

[screws_tilt_adjust]
screw1: 157,218
screw1_name: back right
screw2: 17,218
screw2_name: back left
screw3: 17,78
screw3_name: front left
screw4: 157,78
screw4_name: front right
speed: 100.0
screw_thread: CW-M5
