[gcode_macro PRINT_END]
gcode:
    {action_respond_info("END_PRINT (end.cfg)")}
    M117 Ending print
    M400
    G92 E0
    G91
    G1 E-2 F3000  ; Retract
    G1 Z50 F3000  ; Raise Z by 50 mm
    G90
    
    ; Park position (X/Y unchanged, only Z up)
    G1 X110 Y220 F7500
    
    ; Turn off heaters
    M104 S0
    M140 S0
    
    ; Let fan cool down
    M106 S128  ; moderate speed
    G4 S30
    M106 S0
    
    LED_OFF  ; Done status
    M84
    M117 Print finished!
