[include shell_command.cfg]
[include KAMP_Settings.cfg]
[include btteddy.cfg]
###################################################################################
##########################Printer General Settings#################################
###################################################################################
[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 2000
max_z_velocity: 50
max_z_accel: 100

[exclude_object]

[virtual_sdcard]
path: /home/pi/artillerygenius_data/gcodes
on_error_gcode: CANCEL_PRINT

[mcu]
serial: /dev/serial/by-path/platform-xhci-hcd.1.auto-usb-0:1.2:1.0-port0

[bed_screws]
screw1: 40,40
screw2: 190,40
screw3: 190,190
screw4: 40,190


# This file contains common pin mappings for RAMPS (v1.3 and later)
# boards. RAMPS boards typically use a firmware compiled for the AVR
# atmega2560 (though other AVR chips are also possible).
###################################################################################
###################################Steppers########################################
###################################################################################
[stepper_x]
step_pin: ar54
dir_pin: ar55
enable_pin: !ar38
microsteps: 16
rotation_distance: 40
endstop_pin: ^!ar3
position_min: -1
position_endstop: 0
position_max: 223
homing_speed: 50

[stepper_y]
step_pin: ar60
dir_pin: ar61
enable_pin: !ar56
microsteps: 16
rotation_distance: 39.80
endstop_pin: ^!ar14
position_min: 0
position_endstop: 0
position_max: 227
homing_speed: 50

[stepper_z]
step_pin: ar46
dir_pin: !ar48
enable_pin: !ar62
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -3   # DELETE WITHOUT BLTOUCH
position_max: 250
homing_speed: 30   # 10.0 WITHOUT BLTOUCH
second_homing_speed: 1
# NO BLTOUCH config
# endstop_pin: ^!ar18
# position_endstop: 0
# homing_speed: 10.0
# homing_retract_dist: 3.0
# homing_retract_speed: 25
# second_homing_speed: 5.0
# #######################

[stepper_z1]
step_pin: ar36
dir_pin: !ar34
enable_pin: !ar30
microsteps: 16
rotation_distance: 8

# [homing_override]
# set_position_z: 0
# gcode:
#   G90  
#   G1 Z2 F300
#   G28 X0 Y0
#   G28 Z
#   G1 Z5 F300  
###################################################################################
###################################################################################
###################################################################################

#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

###################################################################################
#############################Heaters & Extruder####################################
###################################################################################
[extruder]
step_pin: ar26
dir_pin: ar28
enable_pin: !ar24
microsteps: 16
rotation_distance: 7.49
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: ar10
sensor_type: EPCOS 100K B57560G104F
sensor_pin: analog13
#control: pid
#pid_Kp: 27.615
#pid_Ki: 5.579
#pid_Kd: 34.174
min_temp: 0
max_temp: 275
max_extrude_cross_section: 5
#instantaneous_corner_velocity: 1.000
max_extrude_only_distance: 50.0
#max_extrude_only_velocity:
#max_extrude_only_accel:
#pressure_advance: 0.0
#pressure_advance_smooth_time: 0.040

# gear
[firmware_retraction]
retract_length: 0.7
retract_speed: 30
unretract_extra_length: 0
unretract_speed: 30

#Hotend Fan
[heater_fan my_nozzle_fan]
pin: ar7
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

#PartCooling
[fan]
pin: ar9
kick_start_time: 0.500

[heater_bed]
heater_pin: ar8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: analog14
#control: pid
#pid_Kp: 43.155
#pid_Ki: 0.668
#pid_Kd: 697.499
min_temp: 0
max_temp: 130
###################################################################################
###################################################################################
###################################################################################

#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!


#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

###################################################################################
############################## Custom Macros ######################################
###################################################################################
[gcode_macro PARK_MACRO]
# default_parameter_X: 0
# default_parameter_Y: 0
# default_parameter_Z: 30
gcode:
	M117 PARKING..
	G91
	G1 E-3.0 F1500
	G1 Z{Z}
	G90
	G1 X{X} Y{Y} F3000
	
[gcode_macro UNLOAD]
gcode:
	G91
	G1 E5.0 F1200
	G1 E-50.0 F2000
	G1 E-50.0 F5000
	G90
        
[gcode_macro M600]
gcode:
	PAUSE_MACRO
	UNLOAD

[gcode_macro PAUSE_MACRO]
gcode:
	PAUSE
	PARK_MACRO
	
[gcode_macro PURGE]
gcode:
	M117 PURGING..
	G91
	G1 E45.0 F250
	G90
        
[gcode_macro LOAD_FILAMENT]
gcode:
	M117  LOADING...
	G91
	G1 E25.0 F1000
	G1 E50.0 F2000
	G4 P900
	G1 E20.0 F250
	G90

[gcode_macro RESUME_MACRO]
gcode:
	M117  RESUMING...
	RESUME

[gcode_macro START_PRINT]
description:
  "G-code to run at the start of a print.
  Replace your slicer's start G-code with this.
  Check the README for more details on usage.
  @param {int} [HOTEND=200] - The target hotend temp
  @param {int} [BED=60] - The target bed temp
  @param {bool} [RELATIVE_E_MODE=false] - Whether the extruder should be in relative mode
  @param {bool} [PROBE=false] - Whether or not to build a new bed mesh
  @param {int,int} [PROBE_AREA_START=min,min] - Start of area to probe
  @param {int,int} [PROBE_AREA_END=max,max] - End of area to probe"
gcode:
  {% set hotend_temp = params.HOTEND|default(200)|int %}
  {% set bed_temp = params.BED|default(60)|int %}
  {% set relative_extruder = params.RELATIVE_E_MODE|default(false)|string %}
  {% set probe = params.PROBE|default(false)|string %}
  {% set probe_area_start = params.PROBE_AREA_START|default(printer.toolhead.axis_minimum.x,printer.toolhead.axis_minimum.y)|string %}
  {% set probe_area_end = params.PROBE_AREA_END|default(printer.toolhead.axis_maximum.x,printer.toolhead.axis_maximum.y)|string %}

  # POWER_ON_PRINTER ;ensure the printer is on

  G90 ;Absolute positioning

  {% if relative_extruder|lower == 'true' %}
    M83 ;Set extruder to relative mode
  {% else %}
    M82 ;Set extruder to absolute mode
  {% endif %}

  LEDRED
  M140 S{bed_temp} ;Start heating bed
  M104 S{hotend_temp * 0.65} T0 ;Start heating hotend, but don't wait
  G4 S30 ; allow partial nozzle warmup

  M190 S{bed_temp} ;Wait for bed to reach temp target
  G28 ;Home

  BED_MESH_CALIBRATE
  # BED_MESH_PROFILE LOAD=default ;load bed mesh profile
  #
  M104 S{hotend_temp} T0 ;Start heating hotend, but don't wait

  LEDBLUE
  SMART_PARK

  M109 S{hotend_temp} T0 ;Finish heating hotend

  LEDGREEN
  LINE_PURGE

  LEDWHITE
	
[gcode_macro END_PRINT]
gcode:
    M117 END PRINT
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Reset extruder counter to 0
    G92 E0
    # Move nozzle away from print while retracting
    G90
    G1 X0 Y230 E-3 F300
    # Raise nozzle by 10mm
    G91
    G1 Z30 F3000
    G90
    # Disable steppers
    M84
    LEDOFF

#### PID ####
[gcode_macro PID_EXTRUDER]
description: Extruder temperature calibration / Calibra la temperatura del extrusor.
gcode:
    {% set T = params.T|default(195)|int %}
    	M117 Homing...
	G28
	M117 Extruder PID calibration...
    	M106 S255
	PID_CALIBRATE HEATER=extruder TARGET={T}
	M107
	SAVE_CONFIG

[gcode_macro PID_BED]
description: Bed temperature calibration / Calibra la temperatura de la cama.
gcode:
    {% set T = params.T|default(45)|int %}
    	M117 Homing...
	G28
	M117 Bed PID calibration...
	PID_CALIBRATE HEATER=heater_bed TARGET={T}
	SAVE_CONFIG

[gcode_macro PID_ALL]
description: Heater and Bed temperature calibration / Calibra la temperatura del extrusor y la cama
gcode:
    {% set TE = params.TE|default(195)|int %}
    {% set TB = params.TB|default(45)|int %}
    	M117 Homing...
	G28
	M117 Extruder PID calibration...
    	M106 S255
	PID_CALIBRATE HEATER=extruder TARGET={TE}
	M107
	M117 Bed PID calibration...
	PID_CALIBRATE HEATER=heater_bed TARGET={TB}
	SAVE_CONFIG

[pause_resume]
recover_velocity: 50

[display_status]

; === KORRIGIERTE PAUSE/RESUME/CANCEL MAKROS MIT SAVE/RESTORE ===

[gcode_macro PAUSE]
description: Pausiert den Druck sicher
rename_existing: BASE_PAUSE
gcode:
    M400                           ; Alle Bewegungen abschließen
    SAVE_GCODE_STATE NAME=PAUSE_state  ; speichert Z bevor wir hochfahren

    M117 PAUSE - Zeit für Filamentwechsel
    LEDBLUE

    G91
    G1 E-2 F3000
    G1 Z10 F3000                   ; Z leicht anheben für Sicherheit
    G90

    M117 Pausiert - Resume zum Fortsetzen
    BASE_PAUSE


[gcode_macro RESUME]
description: Setzt Druck korrekt fort
rename_existing: BASE_RESUME
gcode:
    M117 RESUME - Fortsetze Druck
    LEDBLUE

    ; Druckposition exakt wiederherstellen
    RESTORE_GCODE_STATE NAME=PAUSE_state

    
    G91
    ;G1 E2 F3000 Optional: kleine Extrusion, um Filament wieder zu primen
    G90

    M117 Druck läuft weiter...
    LEDWHITE

    BASE_RESUME


[gcode_macro CANCEL_PRINT]
description: Bricht den Druck sicher ab
rename_existing: BASE_CANCEL_PRINT
gcode:
    M117 Druck abgebrochen
    LEDRED

    BASE_CANCEL_PRINT

    TURN_OFF_HEATERS
    M106 S0                         ; Lüfter aus

    G91
    G1 Z10 F3000
    G90
    G1 X0 Y200 F6000                ; Kopf nach vorne (anpassen)

    M117 Druck abgebrochen - Heizer aus
	
###################################################################################
###################################################################################
###################################################################################

#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	
######################################################################
# Filament sensors
######################################################################

# Filament Switch Sensor. Support for filament insert and runout
# detection using a switch sensor, such as an endstop switch.
[filament_switch_sensor my_sensor]
pause_on_runout: True
runout_gcode:
	M600
#insert_gcode:
#   A list of G-Code commands to execute after a filament insert is
#   detected. See docs/Command_Templates.md for G-Code format. The
#   default is not to run any G-Code commands, which disables insert
#   detection.
#event_delay: 3.0
#   The minimum amount of time in seconds to delay between events.
#   Events triggered during this time period will be silently
#   ignored. The default is 3 seconds.
pause_delay: 0.5
#   The amount of time to delay, in seconds, between the pause command
#   dispatch and execution of the runout_gcode. It may be useful to
#   increase this delay if Octoprint exhibits strange pause behavior.
#   Default is 0.5 seconds.
switch_pin: ^ar2
###################################################################################
###################################################################################
###################################################################################

#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

###################################################################################
############################# LED #################################################
###################################################################################
[output_pin LED_pin_red]
pin: ar5
pwm: True
value: 0
cycle_time: 0.010

[output_pin LED_pin_green]
pin: ar4
pwm: True
value: 0
cycle_time: 0.010

[output_pin LED_pin_blue]
pin: ar6
pwm: True
value: 0
cycle_time: 0.010

[gcode_macro LEDRED]
gcode:  
	SET_PIN PIN=LED_pin_red VALUE=1

[gcode_macro LEDGREEN]
gcode:  
	SET_PIN PIN=LED_pin_green VALUE=1

[gcode_macro LEDBLUE]
gcode:  
	SET_PIN PIN=LED_pin_blue VALUE=1

[gcode_macro LEDWHITE]
gcode:  
	SET_PIN PIN=LED_pin_red VALUE=1
	SET_PIN PIN=LED_pin_green VALUE=1
	SET_PIN PIN=LED_pin_blue VALUE=1
	
[gcode_macro LEDOFF]
gcode:
	SET_PIN PIN=LED_pin_red VALUE=0
	SET_PIN PIN=LED_pin_green VALUE=0
	SET_PIN PIN=LED_pin_blue VALUE=0

	
###################################################################################
###################################################################################
###################################################################################
#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
###################################################################################
# Arduino aliases for atmega2560/1280 (Arduino mega) boards
[board_pins arduino-mega]
aliases:
    ar0=PE0, ar1=PE1, ar2=PE4, ar3=PE5, ar4=PG5,
    ar5=PE3, ar6=PH3, ar7=PH4, ar8=PH5, ar9=PH6,
    ar10=PB4, ar11=PB5, ar12=PB6, ar13=PB7, ar14=PJ1,
    ar15=PJ0, ar16=PH1, ar17=PH0, ar18=PD3, ar19=PD2,
    ar20=PD1, ar21=PD0, ar22=PA0, ar23=PA1, ar24=PA2,
    ar25=PA3, ar26=PA4, ar27=PA5, ar28=PA6, ar29=PA7,
    ar30=PC7, ar31=PC6, ar32=PC5, ar33=PC4, ar34=PC3,
    ar35=PC2, ar36=PC1, ar37=PC0, ar38=PD7, ar39=PG2,
    ar40=PG1, ar41=PG0, ar42=PL7, ar43=PL6, ar44=PL5,
    ar45=PL4, ar46=PL3, ar47=PL2, ar48=PL1, ar49=PL0,
    ar50=PB3, ar51=PB2, ar52=PB1, ar53=PB0, ar54=PF0,
    ar55=PF1, ar56=PF2, ar57=PF3, ar58=PF4, ar59=PF5,
    ar60=PF6, ar61=PF7, ar62=PK0, ar63=PK1, ar64=PK2,
    ar65=PK3, ar66=PK4, ar67=PK5, ar68=PK6, ar69=PK7,
    analog0=PF0, analog1=PF1, analog2=PF2, analog3=PF3, analog4=PF4,
    analog5=PF5, analog6=PF6, analog7=PF7, analog8=PK0, analog9=PK1,
    analog10=PK2, analog11=PK3, analog12=PK4, analog13=PK5, analog14=PK6,
    analog15=PK7,
    # Marlin adds these additional aliases
    ml70=PG4, ml71=PG3, ml72=PJ2, ml73=PJ3, ml74=PJ7,
    ml75=PJ4, ml76=PJ5, ml77=PJ6, ml78=PE2, ml79=PE6,
    ml80=PE7, ml81=PD4, ml82=PD5, ml83=PD6, ml84=PH2,
    ml85=PH7

###################################Display#########################################
###################################################################################
# Common EXP1 / EXP2 (display) pins
[board_pins]
aliases:
    # Common EXP1 header found on many "all-in-one" ramps clones
    EXP1_1=ar37, EXP1_3=ar17, EXP1_5=ar23, EXP1_7=ar27, EXP1_9=<GND>,
    EXP1_2=ar35, EXP1_4=ar16, EXP1_6=ar25, EXP1_8=ar29, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=ar50, EXP2_3=ar31, EXP2_5=ar33, EXP2_7=ar49, EXP2_9=<GND>,
    EXP2_2=ar52, EXP2_4=ar53, EXP2_6=ar51, EXP2_8=ar41, EXP2_10=<RST>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "spi"
    # Note, some boards wire: EXP2_8=<RST>, EXP2_10=ar41

# See the sample-lcd.cfg file for definitions of common LCD displays.
###################################################################################
###################################################################################
###################################################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 53.416
#*# pid_ki = 16.958
#*# pid_kd = 42.065
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 40.078
#*# pid_ki = 0.480
#*# pid_kd = 837.127
#*#
#*# [probe_eddy_current btt_eddy]
#*# reg_drive_current = 15
#*# calibrate =
#*# 	0.050000:3197730.323,0.090000:3197287.127,0.130000:3196834.671,
#*# 	0.170000:3196377.398,0.210000:3195954.850,0.250000:3195512.949,
#*# 	0.290000:3195082.921,0.330000:3194650.226,0.370000:3194231.295,
#*# 	0.410000:3193810.483,0.450000:3193392.756,0.490000:3192985.761,
#*# 	0.530000:3192585.202,0.570000:3192198.005,0.610000:3191805.854,
#*# 	0.650000:3191433.145,0.690000:3191058.163,0.730000:3190683.283,
#*# 	0.770000:3190294.066,0.810000:3189919.943,0.850000:3189588.400,
#*# 	0.890000:3189235.407,0.930000:3188880.286,0.970000:3188529.811,
#*# 	1.010000:3188173.982,1.050000:3187854.075,1.090000:3187518.530,
#*# 	1.130000:3187194.827,1.170000:3186880.578,1.210000:3186546.718,
#*# 	1.250000:3186233.713,1.290000:3185923.524,1.330000:3185622.421,
#*# 	1.370000:3185314.346,1.410000:3185008.811,1.450000:3184732.160,
#*# 	1.490000:3184441.425,1.530000:3184151.730,1.570000:3183877.574,
#*# 	1.610000:3183587.162,1.650000:3183320.088,1.690000:3183035.656,
#*# 	1.730000:3182800.723,1.770000:3182518.884,1.810000:3182281.226,
#*# 	1.850000:3182018.225,1.890000:3181778.151,1.930000:3181527.729,
#*# 	1.970000:3181263.680,2.010000:3181053.842,2.050000:3180802.753,
#*# 	2.090000:3180580.054,2.130000:3180341.680,2.170000:3180129.495,
#*# 	2.210000:3179887.957,2.250000:3179674.841,2.290000:3179491.399,
#*# 	2.330000:3179239.299,2.370000:3179040.650,2.410000:3178837.536,
#*# 	2.450000:3178626.425,2.490000:3178415.728,2.530000:3178244.592,
#*# 	2.570000:3178032.518,2.610000:3177837.074,2.650000:3177651.146,
#*# 	2.690000:3177457.332,2.730000:3177276.835,2.770000:3177077.564,
#*# 	2.810000:3176921.055,2.850000:3176735.608,2.890000:3176555.774,
#*# 	2.930000:3176394.005,2.970000:3176215.820,3.010000:3176053.867,
#*# 	3.050000:3175879.493,3.090000:3175727.980,3.130000:3175560.102,
#*# 	3.170000:3175385.747,3.210000:3175229.891,3.250000:3175085.789,
#*# 	3.290000:3174940.978,3.330000:3174803.826,3.370000:3174650.141,
#*# 	3.410000:3174505.902,3.450000:3174349.820,3.490000:3174169.782,
#*# 	3.530000:3174064.726,3.570000:3173943.952,3.610000:3173799.999,
#*# 	3.650000:3173680.592,3.690000:3173520.848,3.730000:3173377.588,
#*# 	3.770000:3173269.767,3.810000:3173142.022,3.850000:3173020.337,
#*# 	3.890000:3172902.460,3.930000:3172784.024,3.970000:3172667.418,
#*# 	4.010000:3172533.989,4.050000:3172419.511
#*#
#*# [temperature_probe btt_eddy]
#*# calibration_temp = 40.600694
#*# drift_calibration =
#*# 	3319501.201520, -4823.044745, 45.119074
#*# 	3214054.909198, -711.662900, 4.458349
#*# 	3205398.784386, -560.110856, 3.219195
#*# 	3199068.437066, -477.576140, 2.679293
#*# 	3192615.619620, -358.524448, 1.718609
#*# 	3187812.898129, -285.641950, 1.207925
#*# 	3183777.873490, -224.037160, 0.765455
#*# 	3179376.959191, -128.978699, -0.052808
#*# 	3177470.677754, -123.243154, -0.001079
#*# drift_calibration_min_temp = 40.83595786467325
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.025556, 0.059465, 0.044072, 0.012480, -0.024458, -0.029349, -0.042738, -0.073452
#*# 	  0.097877, 0.140899, 0.094509, 0.044984, -0.014277, -0.041217, -0.068040, -0.141565
#*# 	  0.075135, 0.105984, 0.082214, 0.024151, -0.024989, -0.054312, -0.080357, -0.131318
#*# 	  0.059598, 0.100902, 0.078317, 0.034076, -0.015479, -0.035322, -0.065669, -0.130777
#*# 	  0.074300, 0.109035, 0.090984, 0.049156, 0.001657, -0.025011, -0.055440, -0.099451
#*# 	  0.041508, 0.082341, 0.066735, 0.014505, -0.018285, -0.051768, -0.093593, -0.157417
#*# 	  0.045162, 0.064802, 0.051375, 0.018914, -0.022809, -0.043125, -0.086760, -0.145752
#*# 	  0.031740, 0.071998, 0.042660, -0.002396, -0.042734, -0.056530, -0.098451, -0.155225
#*# x_count = 8
#*# y_count = 8
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 32.0
#*# max_x = 200.0
#*# min_y = 35.0
#*# max_y = 186.97000000000003
